.login {
	display: flex;

	justify-content: center;
	align-items: center;

	height: 100vh;

	background: linear-gradient(
			0deg,
			rgba(62, 111, 79, 0.48),
			rgba(62, 111, 79, 0.48)
		),
		url('../assets/login-bg.jpg');

	background-size: cover;

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		height: 43rem;
		width: 42rem;
		background-color: #1f241e;

		border-radius: 2rem;
	}

	&__logo {
		height: 6rem;
		width: 6rem;
	}

	&__text {
		position: relative;
		font-size: 1.8rem;
		font-weight: 200;
		color: white;

		letter-spacing: 2px;

		&::after {
			content: '';

			display: block;
			position: absolute;

			top: 4.5rem;
			left: 23%;

			background-color: rgba($color: #fff, $alpha: 0.5);

			width: 12rem;
			height: 1px;
		}
	}

	&__btn {
		font-family: 'Poppins';
		font-weight: bold;
		font-size: 1.8rem;

		cursor: pointer;

		color: white;
		background-color: #1ed760;

		border: none;
		border-radius: 3rem;

		transition: all 0.2s ease-in-out;

		padding: 1.5rem 4.5rem;

		&:hover {
			transform: translateY(-4px);
		}

		// Goes down on click
		&:active {
			transform: translateY(0);
		}
	}
}
