// Main Page container

// Create layout with grid or flexbox?
.container {
	height: 100vh;

	display: grid;
	grid-template-areas:
		'sidebar header header'
		'sidebar songs songs'
		'sidebar controls controls';

	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 1fr 8rem;
}
