.header {
	grid-area: header;

	background: url('../assets/Star\ BG\ Compressed.jpg');
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: cover;

	padding: 4rem 10rem;

	&__profile {
	}
}

.pagination {
	&__arrow {
		&--la {
		}

		&--ra {
		}
	}
}

.details {
	&__album {
		&--title {
		}

		&--cover {
		}
	}

	&__playlist {
		&--header {
		}

		&--title {
		}

		&--details {
		}
	}

	&__song {
		&--title {
		}

		&--artist {
		}
	}
}
