.sidebar {
	background: linear-gradient(
		92.5deg,
		rgba(32, 75, 113, 0.61) 1.8%,
		rgba(30, 128, 81, 0.61) 192.71%
	);

	display: flex;
	flex-direction: column;

	grid-area: sidebar;
	padding: 4rem 6rem 4rem 4rem;
}

.logo-box {
	display: flex;
	align-items: center;

	margin-bottom: 6.5rem;

	position: relative;

	&::after {
		content: '';
		height: 1px;
		width: 20rem;

		// Separation line
		background: linear-gradient(
			to right,
			rgba(white, 0.45) 20%,
			rgba(white, 0.8),
			rgba(white, 0.45) 80%
		);

		position: absolute;
		bottom: -4.4rem;
		left: 15%;
	}

	// border-width: 1px;
	// border-style: solid;
	// border-image: linear-gradient(to right, darkblue, darkorchid) 14;

	&__logo {
		height: 70px;
		width: 65px;

		margin-right: 3.8rem;
	}

	&__title {
		font-size: $font-large;
		font-weight: $font-regular;
		letter-spacing: $letter-spacing;
	}
}

// Add them under sidebar? sidebar__categories?
.categories {
	display: flex;
	flex-direction: column;
}

// Use flex spacing instead of padding later incase playlists get added etc.
// Also make a scrollbar on the right side
.category {
	padding-top: 2rem;
	padding-bottom: 2rem;

	&__title {
		font-weight: $font-bold;
		font-size: 2rem;
		letter-spacing: $letter-spacing;
		margin-bottom: 2rem;
	}

	&__options {
		padding-left: 3rem;

		&--option {
			font-weight: $font-light;
			font-size: $font-small;
			letter-spacing: $letter-spacing;

			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}
}
