// COLORS

$color-spotify: hsl(141, 76%, 48%);
$color-secondary: hsla(165, 63%, 74%, 1);

//// FONTS
$font-family: 'Poppins', sans-serif;

// Size
$font-small: 1.6rem;
$font-medium: 1.8rem;
$font-large: 3rem;
$font-header: 4rem;

// Weight
$font-light: 200;
$font-regular: 400;
$font-bold: 700;

$letter-spacing: 0.2rem;

//// SPACING
